.main-header {
  height: 400px;
  width: 100%;
  color: white;
  background-color: #5f4fa1;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .site-header {
  position: relative;
  background-color:  #4056A1;
  height: 400px;
  width: 100%;
  border: 3px solid red;
}

.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.header-avatar {
  background-color: #5f4fa1;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* justify-content: center;
  align-items: center; */


/* .user-name {
  text-align: center;
  color: #FFFFFF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

bg-image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
} */ 