.logo {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  margin: 1.5em;
  font-size: 30px;
}

nav {
  list-style-type: none;
  background-color: #4056A1;
  height: 120px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

.nav__item a {
  display: block;
  padding: 1.5rem 1rem;
}

span {
  display: flex;
}

span.write-tweet {
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  letter-spacing: normal;
  
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}