.twtbutton {
  font-family: 'Bungee', sans-serif;
  background-color: #4056a1;;
  color: rgb(255, 255, 255);
}

.twt-button-div {
  margin-top: 5%;
}

output#counter {
  font-family: 'Bungee', sans-serif;
}

textarea.newtwt#text-tweet {
  background: red;
  border: 5px red; 
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.turnRed {
  color: red;
}

.avatar-name {
  display: flex;
}

footer.f-line {
  border-top: 5px solid rgb(75, 74, 74);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid rgb(75, 74, 74);
  margin: 50px 0;
  padding: 40px;
}

article.tweet-container:hover {
  box-shadow: 10px 10px #add8e6bd;
  margin: 20px;
}

header.tweet-head {
  display: flex;
  justify-content: space-between;
}

label.labelarea {
  font-weight: 300;
}